.contPrincipalVenta {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #ffff;
    padding: 20px;
    box-sizing: border-box;
    
}

.facturaPrincipal2{
    color: #0044fff4;
    margin: 0;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #ffffffff; /* Fondo blanco brillante */
    border: 1px solid #ddd;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}
.facturaPrincipal2 #pago{
    text-align: right;
}

.facturaPrincipal2 #fact1{
    display: flex;
    padding: 10px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content:right;
}

.facturaPrincipal2 #fact2{
    display: flex;
    padding: 10px;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.facturaPrincipal2 #fact2 #opt{
    display: flex;
    padding: 0;
    width: 40%;
}

.facturaPrincipal2 #fact3{
    display: flex;
    padding: 10px;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.facturaPrincipal2 h4{
    color: #000000;
}

.facturaPrincipal {
    color: #0044fff4;
    margin: 0;
    padding: 20px;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 0;
    background: #ffffffff; /* Fondo blanco brillante */
    border: 1px solid #ddd;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.facturaPrincipal #pago{
    text-align: right;
}

.facturaPrincipal #fact1{
    display: flex;
    padding: 10px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content:right;
}

.facturaPrincipal #fact2{
    display: flex;
    padding: 10px;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.facturaPrincipal #fact2 #opt{
    display: flex;
    padding: 0;
    width: 40%;
}

.facturaPrincipal #fact3{
    display: flex;
    padding: 10px;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}


.facturaPrincipal45 #fact4{
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    scroll-padding-inline-start: 0;
    text-overflow: ellipsis;
    overflow-x:auto;
}
#table4 {
    width: 100%;
    table-layout:auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  #table4 th,
  #table4 td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  /* Ancho de cada columna */
  .codigo {
    width: 15%; /* Ajusta el valor para el ancho deseado */
  }
  
  .descripcion {
    width: 30%;
  }
  
  .precio,
  .cantidad,
  .importe {
    width: 25%;
  }
  
  .accion {
    width: 15%;
  }
  .accion button{
    background-color: #db0707;
  }
  
  
  #table4 th {
    background-color: #eeeeee;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  
  #table4 tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  

.facturaPrincipal #fact5{
    display: flex;
    padding: 10px;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.detalleFactura {
    display: flex;
    flex-basis: 25%;
    height: 100vh;
    background-color: #2ecffb3b;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 20px;
    flex-direction: column;
    gap: 20px;
}

.detalleFactura #pedidos,
.detalleFactura #resumen{
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: auto;
    min-height: 250px;

}

.detalleFactura #pedidos #textVenta,
.detalleFactura #resumen #textVenta{
    color:#0044fff4 ;
    text-align: center;
    background-color: #ccc;
    width: 100%;
}

.detalleFactura #siguiente{
    background-color: #27db07;
}



input[type="date"]{
    background: #ccc;
    margin: 0;
    padding: 20px;
    width: 200px;
    height: 50px;
    border: 1px solid #ccc;
}

input[type="text"]{
    margin: 0;
    padding: 10px;
    height: 50px;
    width: 40%;
    min-width: 150px;
    background: #ffff;
    border: 1px solid #ccc;
}

input[type="number"]{
    margin: 0;
    padding: 10px;
    height: 50px;
    width: 100%;
    min-width: 50px;
    background: #ffff;
    border: 1px solid #ccc;
}


.seleccion{
    margin: 0;
    padding: 5px;
    width: 200px;
    height: 50px;
    background-color: #ccc;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 1100px) {
    .contPrincipalVenta {
        flex-direction: column;
        align-items: flex-start;
        width: 260px;

    }

    .facturaPrincipal {
        width: 100%; /* Ocupa el ancho completo */
        overflow-y: auto;
        height: auto; 
    }

    .detalleFactura {
        width: 100%; /* Se alinea al 100% debajo de facturaPrincipal */
        margin-top: 10px; /* Agrega un espacio entre los elementos */
        height: auto; /* Permite que la altura se ajuste al contenido */
    }
    .facturaPrincipal45 {
        width: 100%; /* Usa el 100% del ancho disponible */
        overflow-x: auto; /* Activa el desplazamiento horizontal */
    }
    
    #fact4 {
        min-width: 1000px; /* O el ancho mínimo que necesites para la tabla */
    }
}


.sugerenciasVenta {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    position:static;
    width: calc(100% - 50%); /* Se ajusta a todo el ancho del contenedor */
    z-index: 1000;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 58%; 
    margin-top: -20px;
}

.sugerenciasVenta li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.sugerenciasVenta li:hover {
    background-color: #83eaee;
}

.MetodoPago input[type="number"]{
    width: 150px;
}

.MetodoPago button{
    background-color: #db0707;
}

#fact5 button{
    width: 100px;
}