@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f0f4f8;
    color: #333;
}

.contenedorClient {
    display: flex;
    width: 100%;
    min-height: 80vh;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #e6f1fc;
}

.formRegisterClient {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    height: auto;
    background: #ffffff;
    color: #333;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
    padding: 30px 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    align-items: center;
}

.inputClient {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    margin: 15px;
    font-size: 16px;
    background-color: #f9fafe;
    color: #333;
    border-radius: 8px;
    border: 1px solid #d1e0f0;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease-in-out;
}

.inputClient:focus {
    border-color: #2374b6;
    box-shadow: 0 0 5px rgba(35, 116, 182, 0.3);
    outline: none;
}

#titleRegisterClient {
    font-size: 2em;
    color: #2374b6;
    margin-bottom: 20px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los inputs horizontalmente */
    width: 100%;
}

.client {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 10px;
}

.successMessage {
    color: #28a745;
    font-size: 1.2em;
    margin-top: 10px;
}

@media (max-width: 980px) {
    .formRegisterClient {
        width: 90%;
        padding: 20px;
    }

    .client {
        gap: 15px;
    }

    .inputClient {
        max-width: 100%;
        margin: 10px 0;
    }
}
