
.logo{
    font-size: 28px;
}
  .containe12 {
    display: grid;
    grid-template-columns: 100px auto; /* Ancho del sidebar */
    /* background: #ffff; a*/
    transition: all 0.3s;
}

.containe12.active12 {
    grid-template-columns: 300px auto; /* Ancho del sidebar cuando está abierto */
}

body {
    color: black;
}
   .links{
        width: 80%;
    }
    .dropdown-label{
        text-align: start;
        width: 100%;
        font-size: 15px;
    }


