* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.inputProducto,.compraTitlePage, th, .inputCompra {
    text-align: center;
}
.titleCompras{
    color: rgb(0, 77, 192);
    width: 50%;
    left: 10%;
}
.containerCompraProductos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 80vh;
    padding: 20px;
}

.buscarProducto {
    display: block;
    width: 80%;
    padding: 10px;
    text-align: center;
    margin-bottom: 0;
    position: relative;
}

.inputCompra, .Compra input[type="text"], .paraProducto input[type="text"], .paraProducto input[type="number"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 15px;
    font-size: 16px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #8a8686;
    text-align: center;
}

.Compra {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 10px;
}

.tableProducto, .tableFacturas {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    text-align: center;
}

.ListarFacturas, .NuevaCompra {
    padding: 10px 35px;
    font-size: 16px;
    cursor: pointer;
    
    border-radius: 5px;
    background-color: #2392ec;
    color: white;
}
.paraProducto {
    position: relative;
    display: flex;
    margin-bottom: 25px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.sugerencias {
    position: absolute;
    top: 82%;
    left: 9%;
    width: 82%;
    max-height: 150px;
    overflow-y: auto;
    font-size: 15px;
    background-color: #ffffff;
    border: 1px solid #8a8686;
    border-radius: 0 0 10px 10px;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.sugerencias li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.sugerencias li:hover {
    background-color: #f0f0f0;
}

.ActualizarCompra,.ActualizarImagen {
    display: inline-block;
    width: 25%;
    font-size: 16px;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #0075fc; /* Color de fondo */
    color: white; /* Color del texto */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #00ccff; /* Borde */
    transition: background-color 0.3s; /* Efecto de transición */
}
.ActualizarImagen:hover,button:hover
{
    background-color: #00ccff;
}
.imagenMiniatura {
    width: 500px;
    height: 500px;
    cursor: pointer;
  }
  
  .modalImagen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .imagenCompleta {
    max-width: 40%;
    max-height: 40%;
  }
  .imagenFactura{
    width: 100px;
  }
  .inputTotalVenta{
    width: 50%;
    max-width: 130px;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #8a8686;
    text-align: center;
  }


  .input-file {
    display: none; /* Ocultar el input original */
  }