.containerLote {
  padding: 20px;
}

.gestionLote {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
}

.buscarProductoLote {
  margin-bottom: 20px;
}

.inputBusquedaLote ,.buscarProductoLote input[type="text"]{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000; /* Letra negra */
}
.sugerenciasLote {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  color: #000; /* Letra negra */
}

.sugerenciasLote li {
  padding: 10px;
  cursor: pointer;
  color: #000; /* Letra negra */
}

.sugerenciasLote li:hover {
  background-color: #f0f0f0;
}

.descripcionLotes, .consultarLotes {
  margin-top: 20px;
}

.tablaLote {
  width: 100%;
  border-collapse: collapse;
  color: #000; /* Letra negra */
}

.tablaLote th, .tablaLote td {
  padding: 10px;
  border: 1px solid #ddd;
  color: #000; /* Letra negra */
}

.tablaLote th {
  background-color: #f1f1f1;
  color: #000; /* Letra negra */
}

.highlighted {
  background-color: #ffefba;
  color: #000; /* Letra negra */
}

.guardarLoteBtn, .ordenarLoteBtn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.guardarLoteBtn:hover, .ordenarLoteBtn:hover {
  background-color: #0056b3;
}
@media (max-width: 896px) {
  .guardarLoteBtn,.ordenarLoteBtn{
    width: 80%;
    margin: 10px;
  }
}